@keyframes bounceAndRockAnimation {
    0% {
        transform: rotateZ(0deg);
        transform: translateY(0px);
    }
    33% {
        transform: rotateZ(-15deg);
    }
    50% {
        transform: translateY(-10px);
    }
    67% {
        transform: rotateZ(15deg);
    }
    100% {
        transform: rotateZ(0deg);
        transform: translateY(0px);
    }
}

@keyframes slideInFromLeft {
    from {
        transform: translateX(-80vw);
    }
    to {
        transform: translateX(0%);
    }
}