@keyframes bounceAndRockAnimation {
    0% {
        transform: rotateZ(0deg);
        transform: translateY(0px);
        transform: scale(100%);
    }
    33% {
        transform: rotateZ(-10deg);
    }
    50% {
        transform: translateY(-15px);
        transform: scale(120%);
    }
    67% {
        transform: rotateZ(10deg);
    }
    100% {
        transform: rotateZ(0deg);
        transform: translateY(0px);
        transform: scale(100%);
    }
}

@keyframes slideInFromLeft {
    from {
        transform: translateX(-80vw);
    }
    to {
        transform: translateX(0%);
    }
}

@keyframes slideInFromRight {
    from {
        transform: translateX(80vw);
    }
    to {
        transform: translateX(0%);
    }
}

@keyframes brightenAndExplode {
    0% {
        transform: scale(1);
    }
    25% {
        width: 200px;
        color: white;
        background-color: white;
    }
    50% {
        color: white;
        background-color: white;
        box-shadow: 0 0 10px 20px;
        transform: scale(1.5);
        font-size: 12px;
        width: 200px;
    }
    75% {
        color: white;
        background-color: white;
        box-shadow: 0 0 10px 20px;
        transform: scale(1.25);
        width: 200px;
        font-size: 12px;
    }
    100% {
        transform: scale(1);
    }
}

@keyframes enlargeAndGlow {
    0% {
        box-shadow: 0 0 10px 2px black;
    }
    50% {
        transform: scale(1.1);
        box-shadow: 0 0 20px 5px rgb(244, 224, 224);
    }
    100% {
        box-shadow: 0 0 10px 2px black;
    }
}

@keyframes fadeOutDown {
    33% {
        transform: translateY(-10vh);
        opacity: 1;
    }
    100% {
        transform: translateY(40vh);
        opacity: 0;
    }
}

/* @keyframes petalFallingDown1 {
    0% {
    }
    33% {
        transform: rotate(180deg) rotateZ(180deg) translateX(-20vw);
    }
    66% {
        transform: rotate(0deg) rotateZ(0deg) translateY(5vh);
    }
    100% {
        top: 102vh;
        transform: translateX(20vw);
    }
} */

@keyframes petalFallingDown1 {
    33% {
        transform: rotate(180deg) translateX(-20vw);
    }
    66% {
        transform: rotate(0deg) translateY(5svh);
    }
    100% {
        top: 102svh;
        transform: translateX(20vw);
    }
}