* {
    box-sizing: border-box;
    font-family: 'Lucida Sans';
}

body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100svh;
    background-color: rgb(38, 38, 38);
    overflow: hidden !important;
}

.container {
    width: 800px;
    max-width: 80%;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px 2px;
    opacity: 0;
    transition: opacity 1750ms;
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin-top: 20px;
}

.btn-grid > :only-child { /* Make the single button span both columns */
    grid-column: span 2;
    justify-self: center;
    background-color: rgb(195, 95, 95);
    width: 200px;
}

.btn {
    background-color: rgb(85, 129, 187);
    border: 1px solid rgb(255, 255, 255);
    border-radius: 5px;
    padding: 5px 20px;
    color: white;
    outline: none;
}

.btn:hover {
    border-color: rgb(39, 39, 39);
    cursor: pointer;
}

.btn:active {
    transform: translateY(3px);
    opacity: 70%;
}

.ilyContainer {
    display: flex;
    transition: opacity 750ms;
    width: 200px;
    height: auto;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    border-color: black;
    box-shadow: 0 0 10px 2px black;
    background-color: rgb(181, 26, 58);
    color: white;
}

.petalsContainer {
    width: 100vw;
    height: 100vh;
    background-color: none;
}

.rosePetal {
    opacity: 75%;
    top: -15vh;
    width: 25px;
    height: 25px;
    position: absolute;
    background: url(https://image.ibb.co/kyUHab/rose.png);
    background-size: 100% 100%;
}