* {
    box-sizing: border-box;
    font-family: 'Lucida Sans';
}

body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: rgb(0, 0, 0);
    animation: gradualColorChange 3000ms forwards ease-in;
}

@keyframes gradualColorChange {
    to {
        background-color: rgb(167, 217, 228);
    }
}

.container {
    width: 800px;
    max-width: 80%;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px 2px;
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin-top: 20px;
}

.btn {
    background-color: rgb(206, 86, 86);
    border: 1px solid gray;
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
    outline: none;
}